<!-- <nav>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Management
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let item of subMenuConfig">
        <a class="dropdown-item" [routerLink]="item.path">{{ item.label }}</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="p-3 mb-3">
  <button mat-button [matMenuTriggerFor]="menu">Management <mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let item of subMenuConfig; let i = index;" mat-menu-item>
      <a class="dropdown-item" [routerLink]="item.path">{{ item.label }}</a>
    </button>
  </mat-menu>
</nav>