<nav class="d-flex p-3 mb-3">
  <div class="me-2">
    <button mat-button [matMenuTriggerFor]="item1">Management <mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #item1="matMenu">
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="/management/laptops">Laptops</a>
      </button>
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="/management/mobiles">Mobiles</a>
      </button>
    </mat-menu>
  </div>

  <div class="me-2">
    <button mat-button [matMenuTriggerFor]="item2">Datasets <mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #item2="matMenu">
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="/datasets/laptops">Laptops</a>
      </button>
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="/datasets/mobiles">Mobiles</a>
      </button>
    </mat-menu>
  </div>
</nav>