<form [formGroup]="laptopForm">
    <div class="row mx-0 px-0">
        <div class="col-10">
            <h2 mat-dialog-title>{{ title }}</h2>
        </div>
        <div class="col-2 text-end">
            <button mat-icon-button (click)="closeDialog()" aria-label="dialog-close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="row justify-content-between mb-3">
            <div class="col-4">
                <mat-form-field appearance="standard">
                    <mat-label>name</mat-label>
                    <input matInput placeholder="Dell, Lenovo,..." formControlName="name">
                    <mat-error *ngIf="laptopForm.controls['name'].invalid">{{getErrorMessage('name')}}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field appearance="standard">
                    <mat-label>RAM</mat-label>
                    <input matInput placeholder="16GB" formControlName="ram">
                    <mat-error *ngIf="laptopForm.controls['ram'].invalid">{{getErrorMessage('ram')}}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field appearance="standard">
                    <mat-label>ROM</mat-label>
                    <input matInput placeholder="256GB" formControlName="rom">
                    <mat-error *ngIf="laptopForm.controls['rom'].invalid">{{getErrorMessage('rom')}}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-2">
                <mat-form-field appearance="standard">
                    <mat-label>screen size</mat-label>
                    <input matInput placeholder="15" formControlName="screenSize">
                    <mat-error *ngIf="laptopForm.controls['screenSize'].invalid">{{getErrorMessage('screenSize')}}</mat-error>
                </mat-form-field>
            </div>

            <!-- <div class="col-4">
                <mat-form-field appearance="standard">
                    <mat-label>brand</mat-label>
                    <input matInput placeholder="DELL" formControlName="brand">
                    <mat-error *ngIf="laptopForm.controls['brand'].invalid">{{getErrorMessage('brand')}}</mat-error>
                </mat-form-field>
            </div> -->

            <div class="col-4">
                <mat-form-field appearance="standard">
                    <mat-label>brand</mat-label>
                    <mat-select matInput formControlName="brand">
                        <mat-option *ngFor="let item of brandOptions" [value]="item.value">{{ item.label }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="laptopForm.controls['brand'].invalid">{{getErrorMessage('brand')}}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field appearance="standard">
                    <mat-label>resolution</mat-label>
                    <mat-select matInput formControlName="resolution">
                        <mat-option *ngFor="let item of resolutionOptions" [value]="item.value">{{ item.label }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="laptopForm.controls['resolution'].invalid">{{getErrorMessage('resolution')}}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field appearance="standard">
                    <mat-label>price</mat-label>
                    <input matInput placeholder="0$" formControlName="price">
                    <mat-error *ngIf="laptopForm.controls['price'].invalid">{{getErrorMessage('price')}}</mat-error>
                </mat-form-field>
            </div>

            <div mat-dialog-actions align="end" class="mb-3 col-12 p-2">
                <button mat-button (click)="closeDialog()">Cancel</button>
                <button mat-raised-button color="primary" (click)="submitDialog()">Submit</button>
            </div>
        </div>
    </div>
</form>